body {
    background: black;
    .navbar {
        border-color: darken($green, 5%);
    }
}

#health_cover {
    background: white;
    padding: 20px 0 40px;
    h1 {
        font-size: 62px;
        font-weight: 300;
        padding-bottom: 20px;
        text-align: center;
    }
    p {
        font-size: 28px;
        font-weight: 300;
    }
    #google-ad {
        float: right;
    }
    @media (max-width: 768px) {
        h1 {
            font-size: 42px;
        }
        p {
            font-size: 18px;
        }
    }
}


#river {
    background: white;
    padding: 30px 0;
    h2 {
        text-align: center;
        font-size: 62px;
        font-weight: 300;
        padding-bottom: 20px;
    }
    a {
        color: lighten($black, 15%);
        border-bottom: 2px solid lighten($gray, 40%);
        &:hover {
            text-decoration: none;
            border-color: $gray;
            color: $black;
        }
    }
    h3.title {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4em;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    .story-box {
        margin-top: 30px;
    }
    .dateline {
        font-weight: 400;
        color: lighten($black, 20%);
        margin-bottom: 0;
    }
    #more_stories {
        text-align: right;
        font-size: 20px;
        font-weight: 300;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    #text {
        margin-top: 20px;
        font-weight: 300;
        font-size: 17px;
    }
    #story_image {
        max-width: 120px;
        max-height: 80px;
        img {
            margin-right: 10px;
        }
    }
}

#follow, #hood {
    border: 1px solid lighten($gray, 30%);
    background: lighten($gray, 40%);
    padding: 20px 0 50px;
    color: $black;
    p {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 15px;
        a {
            color: darken($gray, 10%);
            border-bottom: 2px solid lighten($gray, 30%);
            &:hover {
                text-decoration: none;
                border-color: $black;
                color: $black;
            }
        }
    }
    h2 {
        text-align: center;
        font-size: 62px;
        font-weight: 300;
        margin-bottom: 50px;
        a {
            color: darken($gray, 10%);
            border-bottom: 3px solid lighten($gray, 30%);
            &:hover {
                text-decoration: none;
                border-color: $black;
                color: $black;
            }
        }
    }
    h3 {
        font-size: 30px;
        font-weight: 300;
        @media (max-width: 1000px) and (min-width: 768px) {
            min-height: 65px;
        }
    }
    img {
        border: 1px solid lighten($gray, 30%);
        margin-bottom: 20px;
    }
    #no_mobile {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: $gray;
    }
}

footer {
    font-size: 10px;
    color: lighten($gray, 20%);
}

@media (max-width: 768px) {
    h2 {
        font-size: 32px !important;
    }
}

#bob_peter {
    h2 {
        font-size: 62px;
        font-weight: 300;
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }
    .bio_line {
        margin-top: 20px;
    }
    background: $black;
    padding: 20px 0 60px;
    color: lighten($gray, 30%);
    h3 {
        margin: 0;
        color: lighten($gray, 45%);
    }
    h4 {
        margin-top: 0;
        &:hover {
            color: white;
        }
        a {
            color: lighten($gray, 30%);
            border-bottom: 2px solid lighten($black, 15%);
            &:hover {
                text-decoration: none;
                border-color: white;
                color: white;
            }
        }
    }
}

#resources {
    padding: 20px 0 40px;
    h2 {
        font-size: 62px;
        font-weight: 300;
        text-align: center;
        color: lighten($gray, 40%);
        margin-bottom: 30px;
    }
    p {
        text-align: center;
        font-size: 18px;
        color: lighten($gray, 40%);
        a {
            color: lighten($gray, 30%);
            border-bottom: 2px solid darken($gray, 25%);
            &:hover {
                text-decoration: none;
                border-color: white;
                color: white;
            }
        }
    }
}

