@mixin lt_link($bg, $font-color, $border-width) {
    text-decoration: none;
    border-bottom: $border-width solid darken($bg, 10%);
    color: lighten($font-color, 10%);
    &:hover {
        border-color: darken($bg, 30%);
        color: $font-color;
    }
}

@mixin transition($time) {
    -webkit-transition: width $time linear !important;
    -moz-transition: width $time linear !important;
    -o-transition: width $time linear !important;
    transition: width $time linear !important;
}

body {
    background: black;
    .navbar {
        border-color: darken($green, 5%);
        h1#navbar-title {
            text-align: center;
        }
    }
}

#above_fold {
    background: lighten($gray, 45%);
    padding: 20px 0 40px;
    div.top_story {
        background: white;
        border: 1px solid lighten($gray, 40%);
        padding: 30px 10px;
        margin-bottom: 15px;
        .dateline {
            margin: 0;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 8px;
            line-height: 1.3em;
        }
        a {
            color: lighten($black, 15%);
            border-bottom: 2px solid lighten($gray, 40%);
            &:hover {
                text-decoration: none;
                border-color: $gray;
                color: $black;
            }
        }
        .byline, .dateline {
            color: $gray;
        }
        div.landscape_img {
            img {
                margin: 0 auto 30px;
            }
        }
        .story_text {
            font-size: 18px;
            font-weight: 300;
        }
    }
    #right_panel {
        #reporters, #about_page {
            margin-bottom: 15px;
            background: white;
            padding: 30px 20px;
            border: 1px solid lighten($gray, 40%);
            h3 {
                margin: 0 0 30px;
                font-size: 32px;
                text-align: center;
            }
            div.reporter {
                margin-top: 10px;
            }
        }
        #about_page {
            p {
                font-size: 18px;
                font-weight: 300;
            }
        }
        #reporters {
            padding-left: 30px;
            img {
            }
            h4 {
                margin-bottom: 0;
                font-size: 20px;
            }
            a.twitter_handle {
                font-weight: 500;
                @include lt-link(white, darken($gray, 10%), 2px);
            }
        }
        #google-ad {
            background: white;
            border: 1px solid lighten($gray, 40%);
            padding: 30px 20px;
            #uw_container {
                max-width: 300px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

.featured {
    background: white;
    padding: 20px;
    border: 1px solid lighten($gray, 40%);
    margin-bottom: 15px;
    color: $black;
    h3 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;
    }
}

#follow {
    #slideshow {
        position: relative;
        i.icon {
            font-size: 22px;
            padding: 0 5px;
            cursor: pointer;
        }
        i.inactive {
            color: lighten($gray, 20%);
            cursor: default;
        }
        #chevron_nav {
            float: right;
        }
        #circle_progress {
            i.icon {
                font-size: 16px;
            }
        }
    }
}

#follow, #hood {
    h3 {
        a {
            @include lt-link(white, $black, 2px);
        }
    }
    p {
        font-size: 16px;
        font-weight: 300;
        margin: 15px 0;
        a {
            @include lt-link(white, $black, 2px);
        }
    }
    img {
        border: 1px solid lighten($gray, 30%);
        margin-bottom: 10px;
    }
    #no_mobile {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: $gray;
    }
    .file {
        margin-left: 30px;
    }
    #listen {
        font-size: 16px;
        font-weight: 400;
    }
}

footer {
    font-size: 10px;
    color: lighten($gray, 20%);
}

@media (max-width: 768px) {
    h2 {
        font-size: 32px !important;
    }
}

#river {
    background: white;
    border-top: 5px solid lighten($gray, 30%);
    padding: 30px 0;
    h2 {
        text-align: center;
        font-size: 62px;
        font-weight: 300;
        padding-bottom: 20px;
    }
    a {
        color: lighten($black, 15%);
        border-bottom: 2px solid lighten($gray, 40%);
        &:hover {
            text-decoration: none;
            border-color: $gray;
            color: $black;
        }
    }
    h3.title {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4em;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    .story-box {
        margin-top: 30px;
    }
    .dateline, .byline {
        font-weight: 400;
        color: lighten($black, 20%);
        margin-bottom: 0;
    }
    .byline {
        font-size: 12px;
        margin-top: 5px;
    }
    #more_stories {
        text-align: right;
        font-size: 20px;
        font-weight: 300;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    .story_text {
        margin-top: 20px;
        font-weight: 300;
        font-size: 17px;
    }
    .story_image {
        max-width: 120px;
        max-height: 80px;
        img {
            margin-right: 10px;
        }
    }
}

div.audio_player {
    background: lighten($gray, 40%);
    height: 40px;
    max-width: 400px;
    margin-left: 40px;
    div.play_btn {
        margin-left: -40px;
        cursor: pointer;
        background: $blue;
        width: 40px;
        padding: 5px 8px 8px;
        height: 40px;
        font-size: 24px;
        color: white;
        display: inline-block;
    }
    .progress_bar {
        display: inline-block;
        background: lighten($gray, 25%);
        height: 100%;
        width: 0%;
        vertical-align: top;
    }
    .play {
        width: 100%;
    }
    .duration {
        float: right;
        color: $blue;
        font-weight: 500;
        height: 40px;
        padding: 8px 30px 8px;
        text-align: right;
        font-size: 14px;
    }
}

#resources {
    padding: 20px 0 40px;
    h2 {
        font-size: 62px;
        font-weight: 300;
        text-align: center;
        color: lighten($gray, 40%);
        margin-bottom: 30px;
    }
    p {
        text-align: center;
        font-size: 18px;
        color: lighten($gray, 40%);
        a {
            color: lighten($gray, 30%);
            border-bottom: 2px solid darken($gray, 25%);
            &:hover {
                text-decoration: none;
                border-color: white;
                color: white;
            }
        }
    }
}

