{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}VPR's Coverage of Health Care in Vermont{% endblock %}

{% block header_title %}Health Care In Vermont{% endblock %}

{% block content %}
<div id="above_fold">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div id="mobile_h1" class="visible-xs col-xs-12">
                        <h1 class="testing">Health Care In Vermont</h1>
                    </div>
                </div>
            {% include "story_card.html" %}
            </div>
            <div id="right_panel" class="col-md-4">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div id="about_page">
                            <h3>Health Care</h3>
                            <div class="content_box">
                                <p>HSA, HRA and the ACA. Platinum, Gold, Silver and Bronze. Vermont Health Connect. Single Payer.</p>
                                <p>There's a lot to keep track of these days surrounding healthcare. VPR reports the latest news and helps explain what it all means to you.</p>
                            </div>
                <div id="google-ad" class="underwriter">
                    <div id="uw_container">
                    <section><!-- VPR-Sitewide-UW-1-300x250 --> <div id='div-gpt-ad-1365016583819-0' style='width:300px; height:250px;'> <script type='text/javascript'> googletag.cmd.push(function() { googletag.display('div-gpt-ad-1365016583819-0'); }); </script> </div> <nav> <ul id="underwriter-nav"> <li><a href="http://www.vpr.net/apps/underwriter-directory/index">Find An Underwriter</a></li> -- <li><a href="http://www.vpr.net/support/business_underwriting/">Become An Underwriter</a></li> </ul> </nav></section>
                    </div>
                </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div id="reporters">
                            <h3>On The Beat</h3>
                            <div class="content_box">
                            {% for reporter in reporters %}
                                <div class="reporter row">
                                    <div class="col-xs-4">
                                        <img class="img-responsive img-circle" src="{{ page_url }}{{ reporter.url }}" alt="Photo of {{ reporter.name }}">
                                    </div>
                                    <div class="col-xs-7">
                                        <h4>{{ reporter.name }}</h4>
                                        {% if reporter.handle %}
                                        <a class="twitter_handle" href="http://twitter.com/{{ reporter.handle }}" alt="Twitter account for {{ reporter.name }}">@{{ reporter.handle }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="featured" id="follow">
                            <h3><a href="http://digital.vpr.net/post/following-money-vermont-health-connect" alt="Follow The Money">Follow The Money</a></h3>
                            <div class="content_box">
                                <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/styles/placed_wide/public/201312/26-million.png" alt="CGI overruns have cost Vermont $26 million">
                                <div id="slideshow">
                                    <div id="chevron_nav"><i class="icon ion-chevron-left inactive"></i><i class="icon ion-chevron-right"></i></div>
                                    <div id="circle_progress"><i class="icon ion-ios7-circle-filled"></i><i class="icon ion-ios7-circle-outline"></i><i class="icon ion-ios7-circle-outline"></i><i class="icon ion-ios7-circle-outline"></i></div>
                                </div>
                                {% for paragraph in follow.text %}
                                <p>{{ paragraph }}</p>
                                {% endfor %}
                                {{ macros.player("http://cpa.ds.npr.org/vpr/audio/2013/12/vpr-news-health-money-20131218.mp3", 468, "Listen To Follow The Money") }}
                                <p id="listen"><span class="file glyphicon glyphicon-file"></span> <a href="http://digital.vpr.net/post/following-money-vermont-health-connect">Read the Article</a>
                                </p>
                            </div>
                        </div>
                    </div>

                <div class="col-md-12 col-sm-6">
                    <div class="featured hidden-xs" id="hood">
                        <h3><a href="http://www.vpr.net/apps/health/network">Under The Hood</a></h3>
                        <div class="content_box">
                            <p id="no_mobile" class="visible-xs">Not mobile optimized</p>
                            <a href="http://www.vpr.net/apps/health/network"><img class="img-responsive" src="{{ url_for('static', filename='img/hood.png') }}"></a>
                            <p>Explore <a href="http://www.vpr.net/apps/health/network">our interactive guide</a> of <a href="http://healtchconnect.vermont.gov">Vermont Health Connect</a>, the state's web portal for the healthcare exchange.</p>
                            <p>This interative visualization will take you on a step by step tour through the system that users interact with to choose and&mdash;eventually&mdash;pay for the new insurance products available due to the Affordable Care Act.</p>
                            <p><i class="icon ion-android-share"></i><a href="{{ url_for('network') }}" alt="Under the Hood of Vermont Health Connect">View the App</a></p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<div id="river">
    <div class="container">
    <div class="row story-row">
    <div class="col-xs-12">
    <h2>More Reporting</h2>
    </div>
    {% for story in stories %}
        <div class="story-box col-sm-6">
            <div class="row">
                    <div class="col-xs-12">
                    <p class="dateline">{{ story.date }}</p>
                    <h3 class="title"><a href="{{ story.link }}">{{ story.title }}</a></h3>
                    <p class="byline">By {{ story.byline|upper }}</p>
                    </div>
            </div>
            <div class="story_text row">
                <div class="col-xs-12">
                    <div class="story_image">
                    {% if story.image %}
                        <a href="{{ story.link }}"><img src="{{ story.image }}" class="img-responsive pull-left" alt="{{ story.title }}"></a>
                    {% endif %}
                    </div>
                    {% for paragraph in story.text %}
                    <p>{{ paragraph|safe }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% if loop.index != 10 and loop.index is divisibleby 2 %}
    </div>
    <div class="row story-row">
    {% elif loop.index == 10 %}
    </div>
    {% endif %}
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
        <p id="more_stories"><a href="http://digital.vpr.net/topic/health-care" alt="story archive">View Archive</a></p>
        </div>
    </div>
    </div>
    </div>
</div>

<div id="resources">
<div class="container">
<div class="row">
    <h2>Health Care Resources</h2>
</div>
<div class="row">
    <div class="col-sm-6">
        <p><a href="https://healthconnect.vermont.gov/">Vermont Health Connect</a></p>
        <p><a href="http://info.healthconnect.vermont.gov/">Help Center</a></p>
    </div>
    <div class="col-sm-6">
        <p><a href="http://info.healthconnect.vermont.gov/tax_credit_calculator">Subsidy Calculator</a></p>
        <p><a href="http://info.healthconnect.vermont.gov/assister-map?field_county_tid=All&field_navigator_type_tid=574">Find A Navigator</a></p>
    </div>
</div>
</div>
</div>


{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
